.content-section {
    padding: 10px 0;

    &__title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    &__text {
        max-height: 95px;
        overflow: hidden;
        position: relative;

        &-more {
            position: absolute;
            right: 5px;
            bottom: 3px;
            color: var(--pink);
            padding: 0 5px;
        }
    }
}
