body {
    color: var(--black);
}

.h1 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--black);
}
.h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--black);
}

.text-center {
    text-align: center;
}
.color-pink {
    color: var(--pink);
}

ion-content {
    --padding-bottom: 50px;
}
