body {
    //color: var(--black);
}

@media (min-width: 700px) {
    ion-app {
        width: 700px;
        margin: auto;
        position: relative;
    }

    .scroll-content {
        overflow-y:auto;
    }
}

.h1 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
    //color: var(--black);
}
.h2 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    //color: var(--black);
}

.text-center {
    text-align: center;
}
.color-pink {
    color: var(--pink);
}

ion-content {
    --padding-bottom: 50px;
}
