/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@font-face {
    font-family: Rubik;
    font-weight: 300;
    src: url(./fonts/Rubik-Light.ttf);
}
@font-face {
    font-family: Rubik;
    font-weight: 400;
    src: url(./fonts/Rubik-Regular.ttf);
}
@font-face {
    font-family: Rubik;
    font-weight: 500;
    src: url(./fonts/Rubik-Medium.ttf);
}
@font-face {
    font-family: Rubik;
    font-weight: 700;
    src: url(./fonts/Rubik-Medium.ttf);
}

:root,
:root.ios,
:root.md {
    --ion-font-family: 'Rubik';

    /* colors */
    --black: #171717;
    --black-light: #232323;
    /*--black: #3A373F;*/
    --black-rgba: 23, 23, 23;
    /*--black-rgba: 58, 55, 63;*/
    --pink: #FF0682;
    --pink-rgba: 255, 6, 130;
    --pink-light: #FFDCEC;
    --pink-light-rgba: 255, 220, 236;
    --blue: #20C0FF;
    --blue-light: #BEE9FA;
    --grey: #D9D9D9;
    --grey-light: #F5F5F5;
}
